<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI>
            <Dialog Id="ModExistsDlg" Width="260" Height="105" Title="!(loc.InvalidDirDlg_Title)">
                <Control Id="OK" Type="PushButton" X="102" Y="77" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIOK)">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Text1" Type="Text" X="48" Y="22" Width="194" Height="20" Text="Please move the existing d3d9.dll file before installation." />
                <Control Id="Text2" Type="Text" X="48" Y="42" Width="194" Height="30" Text="If you wish to keep using it then please set it up in the proxy configuration after installation." />
                <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="!(loc.InvalidDirDlgIconTooltip)" FixedSize="yes" IconSize="32" Text="!(loc.InvalidDirDlgIcon)" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>
